body {
    background-image: url('../Images/giphy.gif');   
}


.container {
    font-family: 'Charmonman', cursive;
}


.navbar {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    justify-content: center;
    margin-top: 60px;
    padding: 15px;
    margin-bottom: 60px;
}


.crystals {
    display: flex;
    justify-content: center;
}


.crystal {
    width: 100px;
    height: 100px;
}
